.form__title {
	box-sizing: border-box;
	margin: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 23px;
}

@media screen and (max-width: 510px) {
	.form__title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 72px;
	}
}
